*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    background-color: #E8EAF6;
    font-family: 'Open Sans', sans-serif;
}

*{
    
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

a:hover {
    color: #1A237E;
}

.container {
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;
    max-width: 1000px;
}

.splash {
    text-align: center;
    padding-bottom: 24px;
    margin: 0 auto;
    width: 300px;
    background-color: #1A237E;
    color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.splash:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
}

.subhead {
    background-color: transparent;
}

.linkbox {
    margin-top: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

.content {
    margin: 36px;
    text-align: center;
}

.divider {
    height: 2px;
    background-color: #FF6F00;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 28px;
    margin-right: 28px;
}

.spacer {
    height: 16px;
}

.header-image {
    width: 300px;
    max-width: 100%;
}

.thing-pic {
    height: 96px;
}

.thing {
    display: inline-table;
    margin: 24px;
    max-width: 140px;
    text-decoration: none;
}

.thing-box {
    
}

.list {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    line-height: 150%;
}

.comment {
    color: dimgray;
    font-size: 16px;
}
.section {
    padding-bottom: 24px;
}

.link {
    display: inline-table;
    padding: 4px;
    width: 60px;
    text-decoration: none;
}
