@require "base"

.container
	width: 100%
	margin: 0 auto
	*
		box-sizing: border-box
	@media MobileOnly
		max-width: 540px
	@media TabletUp
		max-width: 800px
	@media DesktopOnly
		max-width: 960px

.row:before, .row:after
	content: ""
	display: block
	clear: both

.col
	float: left

for i in (1..12)
	@media MobileOnly
		.s{i}
			width: percentage(i / 12)
	@media TabletUp
		.m{i}
			width: percentage(i / 12)
	@media DesktopOnly
		.l{i}
			width: percentage(i / 12)