@import "base"

*
	position: relative
	font-family: 'Open Sans', sans-serif
	
body	
	color: white

#banner
	padding: 30px auto 50px
	min-height: 100vh
	@media widthTabletUp
		padding-top: 10vh
		& > div
			center Y absolute
		.card
			@media widthTabletDown
				max-width: 60%
				margin: 0 auto
	.card-content
		height: 100%
		& > *
			font-family: 'Montserrat', sans-serif
			display: block
			color: black
		h1
			margin-top: 10px
			font-size: 2em
		h3
			margin-top: 10px
			font-size: 1.6em
		div
			position: absolute
			bottom: 0
			margin-bottom: 3%
		a
			display: inline-block
			margin: auto 5px
		i
			color: black
			font-size: 1.7em

.sidebox
	padding-top: 30px
	padding-left: 40px
	a
		display: block
		margin: 5px auto
		min-width: 100px

.parallax-container
	height: 400px

.thing a:link
	color: black

.section-header, .collapsible-header
	font-family: 'Montserrat', sans-serif

.collapsible
	font-size: 1.2em
	.collapsible-body
		padding: 5px 30px 30px
		*
			color: black
		a
			color: #03a9f4
		.video-container
			margin: 5px auto

.page-section
	margin-bottom: 60px

.tech-skill
	height: 10vh
	margin: 10px
	@media widthTabletOnly
		height: 7vh

#projectBox
	@media widthDesktopOnly
		display: grid
		grid-template-columns: 30% 40% 30%
		grid-template-rows: 2fr 1fr 1fr
		grid-template-areas: "first first first" "second third fifth" "second fourth fifth"
		grid-column-gap: 10px
		grid-row-gap: 10px

orders = first second third fourth fifth
colHeight = 400px
for order, i in orders
	#project-{i+1}
		img
			if i == 0 or i == 1 or i == 4
				height: colHeight
			else
				height: (colHeight / 2 - 10)
		display: block
		grid-area: order
		align-self: center
		text-align: center

#inspirations
	@media widthTabletUp
		display: grid
		grid-template-columns: 1fr 1fr 1fr
		grid-template-rows: auto
		grid-column-gap: 10px	
	.card-panel
		font-size: 1.2em
		span
			text-align: center

#thingBox
	margin-bottom: 20px

.thing
	width: 200px
	span
		font-size: 1.5em

#music
	height: 100px
	iframe
		width: 80%
		max-width: 500px
		center X absolute

#video
	@media widthMobileOnly
		height: 250px
		margin-bottom: -100px
	@media widthTabletOnly
		height: 550px
		margin-bottom: -250px
	@media widthDesktopOnly
		margin-bottom: 0
	video
		width: 100vw

#contacts
	height: 100vh
	min-height: 600px
	& > div
		width: 100%
		center Y absolute
	img
		width: 80px
		border-radius: 50%
		@media widthMobileOnly
			width: 60px

#resumeLink
	margin: 30px auto
	center X relative
	width: 180px

#FAB
	bottom: 120px

footer
	position: absolute
	bottom: 0
	width: 100%
	p
		line-height: 2.4em