@require "partials/_base"

bodyColor = #3949ab

*
	position relative
	font-family 'Open Sans', sans-serif
	
body	
	background-color bodyColor
	color white

#banner
	padding 30px auto 50px
	min-height 100vh
	@media TabletUp
		padding-top 10vh
		& > div
			center Y absolute
		.card
			@media TabletDown
				max-width 60%
				margin 0 auto
	.card-content
		height 100%
		& > *
			font-family 'Montserrat', sans-serif
			display block
			color black
		h1
			margin-top 10px
			font-size 2em
		h3
			margin-top 10px
			font-size 1.6em
		div
			position absolute
			bottom 0
			margin-bottom 3%
		a
			display inline-block
			margin auto 5px
		i
			color black
			font-size 1.7em

.sidebox
	padding-top 30px
	padding-left 40px
	a
		display block
		margin 5px auto
		min-width 100px

@require "partials/_hover-animation"

.parallax-container
	height 400px

.thing a:link
	color black

.section-header, .collapsible-header
	font-family 'Montserrat', sans-serif

.collapsible
	font-size 1.2em
	.collapsible-body
		padding 5px 30px 30px
		*
			color black
		a
			color bodyColor
		.video-container
			margin 5px auto

.page-section
	margin-bottom 60px

#skillsList
	center X relative
	@media TabletUp
		max-width 70%

.tech-skill
	display inline-block
	height 10vh
	margin 10px
	@media TabletDown
		height 7vh
		margin 5px

.carousel-item
	*
		color white !important
	div
		center(XY, absolute)
	carouselImage(link)
		background-image linear-gradient(rgba(0,0,0,0.85)), url(link)
		background-repeat no-repeat
		background-size cover
	&[href="#one!"]
		carouselImage('./../images/portfolio/whats-that-edit.png')
	&[href="#two!"]
		carouselImage('./../images/portfolio/monoposto.png')
	&[href="#three!"]
		carouselImage('./../images/portfolio/leather-turf.png')
	&[href="#four!"]
		carouselImage('./../images/portfolio/brain-train.png')
	&[href="#five!"]
		carouselImage('./../images/portfolio/lizard-spock.png')

#inspirations
	@media TabletUp
		display grid
		grid-template-columns 1fr 1fr 1fr
		grid-template-rows auto
		grid-column-gap 10px	
	.card-panel
		font-size 1.2em
		span
			center(X, relative)
			text-align center

#thingBox
	margin-bottom 20px

.thing
	width 200px
	span
		font-size 1.5em

#music
	height 100px
	iframe
		width 80%
		max-width 500px
		center X absolute

#video
	@media MobileOnly
		height 250px
		margin-bottom -100px
	@media TabletOnly
		height 550px
		margin-bottom -250px
	@media DesktopOnly
		margin-bottom 0
	video
		width 100vw

#contacts
	height 100vh
	min-height 600px
	& > div
		width 100%
		center Y absolute
	img
		width 80px
		border-radius 50%
		@media MobileOnly
			width 60px

#resumeLink
	margin 30px auto
	center X relative
	width 180px

#FAB
	bottom 120px

footer
	position absolute
	bottom 0
	width 100%
	p
		line-height 2.4em