extends partials/layout

block mixins
	include partials/_mixins

block head
	title Nico Salvador
	link(rel="icon" type="image/png" href="images/icon.png")
	base(target="_blank")

	+styles("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans")
	+styles("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	+styles("styles/styles.css")
	include partials/_materialize
	+scripts("js/all.js")

block header
	include partials/_header

block main
	include partials/_main

block footer
	include partials/_footer