+styles("https://fonts.googleapis.com/icon?family=Material+Icons")
+styles("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
+scripts("https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
+scripts("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")