footer.red.darken-4
	p.center-align.
		&copy; 2017 Nico Salvador

#FAB.fixed-action-btn.tooltipped(data-position="left" data-delay="50" data-tooltip="Back to top")
	button#scrollToTopFAB.waves-effect.waves-circle.waves-light.btn-floating.btn-large.red.scale-transition.scale-out
		i.material-icons arrow_upward