header#banner.container.row
	div
		.col.s12.l5
			.card.large.hoverable
				.card-image
					img(src="images/portrait.png" alt="That's me!")
				.card-content
					h1 Nico Salvador
					h3 Quezon City, Philippines
					.center-align
						a(href="mailto:salvador.nico@gmail.com")
							i.fa.fa-envelope(aria-hidden="true")
						a(href="https://github.com/salvadornico")
							i.fa.fa-github(aria-hidden="true")
						a(href="https://www.linkedin.com/in/salvadornico")
							i.fa.fa-linkedin(aria-hidden="true")
						a(href="https://www.facebook.com/salvador.nico")
							i.fa.fa-facebook-official(aria-hidden="true")

		.col.s12.l7.sidebox
			.row
				.col.s12
					h2 Hi, I'm Nico.
					p.
						I'm into all sorts of things.#[br]Maybe we can work on something together?
					p.
						I've always had a hard time picking what it is I'm most into over the course of my life. There are just so many awesome things out there in the world to be involved in, why just choose one? I believe that incredible things can come out of the most unlikely partnerships.
					h3 Let's get in touch!
			.row.center-align
				.col.s12.m6
					a#scrollDownBtn.waves-effect.waves-light.btn-large.red.darken-1.hoverable(href="#contacts" target="_parent" data-scroll)
						i.material-icons.left chat_bubble
						span Contact Me
				.col.s12.m6
					a.waves-effect.waves-light.btn-large.red.darken-1.hoverable(href="./files/Nico_Salvador-CV2017.pdf")
						i.material-icons.left library_books
						span Resum&#233;