block mixins

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		mixin scripts(url)
			script(src=url)
		mixin styles(url)
			link(href=url, rel="stylesheet")
		block head
		
	body
		// header start
		block header

		// main start
		block main

		// footer start
		block footer